---
layout: null
show_info: false
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: 'unsafe-inline' 'unsafe-eval'; worker-src 'self' blob:; connect-src 'self' wss: data:; font-src 'self' https: data:; img-src 'self' https: data:; object-src 'none'">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}{% if page.title.size > 0 %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="app, art, blogging, debugging, entrepreneurship, finance, framework, hacking, investing, library, opinion, plugin, politics, privacy, programming, reference, reflection, relationships, security, technology, tool, tooling, travel, tutorial, tutorials, ">

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.url }}/favicon.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ site.url }}/favicon.png" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/favicon.png">
  <meta name="referrer" content="same-origin">

  <meta title="mod:fractal-forest" content="status:enabled">
  <!-- <link rel="alternate" type="application/rss+xml" href="index.xml.rss" title="{{ site.name }}"> -->
  <link rel="canonical" href="index.html">
  <link rel="icon" sizes="128x128" href="{{ site.url }}/favicon.png">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <meta name="theme-color" content=fuchsia>

</head>

<body class="hack dark main container">
  <header>

    <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
      <meta itemprop="name" content="Main Menu">
      {% for item in site.data.navbar.left %}
      <a itemprop="url"{% if page.title == item.title or page.active_title == item.title %} class="active"{% endif %} href="{{ site.url }}{{ item.url }}">{% if item.title == 'Home' %}{{ site.name }}{% else %}{{ item.title }}{% endif %}</a>
      {% endfor %}
    </nav>

    <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
      <meta itemprop="name" content="Utility Menu">
      {% for item in site.data.navbar.right %}
      <a itemprop="url"{% if page.title == item.title or page.active_title == item.title %} class="active"{% endif %} href="{{ site.url }}{{ item.url }}">{{ item.title }}&nbsp;{{ item.svg }}</a>
      {% endfor %}
    </nav>

    <!-- <form role="search"name="search"autocomplete="off"action="search/index.html"class="form">
			<label class="help-block">
				<input id="query"name="s"type="search"maxlength="32"autocomplete="off"placeholder="digital nomad bali"class="form-control">
				<svg role="presentation"class="i-search"viewBox="0 0 32 32"width="14"height="14"fill="none"stroke="var(--accent-color)"stroke-linecap="round"stroke-linejoin="round"stroke-width="3"><circle cx="14"cy="14"r="12"/><path d="M23 23 L30 30"/></svg>
			</label>
		</form>
		<script>((window, document, undefined)=> {'use strict';const urlParams=new URLSearchParams(window.location.search);document.forms.search.s.value=urlParams.get('s');})(window, document);</script> -->
	</header>
	<main>
		<header>
			<h1 itemprop="name">{% if page.title.size > 0%}{{ page.title }}{% else %}{{ site.name }}{% endif %}</h1>
		</header>

		<!-- BEGIN PAGE CONTENT [BASE] -->
    {{ content }}
		<!-- END PAGE CONTENT [BASE] -->

    <!-- BEGIN SITE INFO -->
    {% if page.show_info %}
    <section>
      <article itemprop="citation" itemscope itemtype="https://schema.org/Thing" id="about">
        <header>
          <h1 itemprop="name"><a href="{{ site.url }}/about/index.html">About</a></h1>
          <blockquote itemprop="headline">Information about the site.</blockquote>
        </header>
        <div itemprop="">
          <p><a href="{{ site.url }}/index.html">{{ site.name }}</a> is the website of {{ site.author }}. <a href="{{ site.url }}/posts/archive/index.html">Started in {{ site.range.start }}</a> it consists primarily of written material covering <a href="{{ site.url }}/posts/categories/index.html">various</a> <a href="{{ site.url }}/posts/tags/index.html">topics</a> of personal interest.</p>
        </div>
        <meta itemprop="inLanguage" content="en-US">

      </article>
      <nav class="readmore">
        <a itemprop="url" href="{{ site.url }}/about/index.html">Read More&nbsp;&raquo;</a>
      </nav>
    </section>
    {% endif %}
    <!-- END SITE INFO -->

  </main>
  <br />
  <!-- BEGIN FOOTER -->
  <footer><small class="muted">Copyright &copy; {{ site.author }}.</small></footer>
  <!-- END FOOTER -->
</body>

</html>
