---
layout: base
---
<div class="page_actions"><span class="cat_span"><a href="{{ site.url }}/posts/categories/#{{ page.category | replace: ' ', '_' }}" class="cat">#{{ page.category }}</a></span>{% for tag in page.tags %}<span class="tag_span"><a href="{{ site.url }}/posts/tags/#{{ tag | replace: ' ', '_' }}" class="tag">#{{ tag }}</a></span>{% endfor %}</div>
<br />
<section class="page__content">
	<div>
		{% include toc.html html=content %}{{ content }}
	</div>
	{% if page.author.size > 0 %}
	<!-- something -->
	{% else %}
	<div class="sign" style="height: 128px !important;">
		<img alt="Señorita" src="{{ site.url }}{{ site.path.images }}/sign_s.png" style="float: right !important; width: 256px !important; max-width: 100% !important;">
	</div>
	{% endif %}
</section>
<br />
{% include comment.html %}
<br /><hr>
<div class="page_actions">
	<a onclick="history.back(-1)" class="btn">&lt; Back</a><a href="{{ site.url }}/posts/archive/" class="btn">Archive</a><br />
	{% if page.next %}<a class="btn" href="{{ site.url }}{{ page.next.url }}">&lt;&nbsp;Newer:&nbsp;{{ page.next.title }}</a>{% endif %}{% if page.previous %}<a class="btn" href="{{ site.url }}{{ page.previous.url }}">Older:&nbsp;{{ page.previous.title }}&nbsp;&gt;</a>{% endif %}
</div>
<br />
<section class="page__content" style="border: 1px solid #fff; border-radius: 5px; padding: 5px;">
	<h4>If You Don't Know...</h4>
	<ul>
		<li><p>Normal Content</p></li>
		<li><strong>Bold Content</strong></li>
		<li><em>Italic Content</em></li>
		<li><a href="#">Link</a></li>
		<li><code>Inline Programming Code</code></li>
		<li><p>Blockquote:</p></li>
		<blockquote>
			<p>Dolore quam distinctio eos cupiditate. Dolor rerum ut itaque quia et in. Dolor hic quod voluptatibus incidunt sed officiis maiores.</p>
		</blockquote>
		<li><p>Programming Code Block:</p></li>
		<div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kn">import</span> <span class="nn">os</span>
<span class="nb">str</span> <span class="o">=</span> <span class="s">"CODE BLOCK"</span>
<span class="k">print</span><span class="p">(</span><span class="s">"</span><span class="si">%</span><span class="s">s"</span><span class="p">,</span> <span class="nb">str</span><span class="p">)</span></code></pre></div></div>
	</ul>
</section>
