---
layout: default
---
<link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">

<article itemscope itemtype="https://schema.org/BlogPosting">
	<meta itemprop="name" content="{{ page.title }}">
	<meta itemprop="description" content="{{ page.description }}">
	<meta itemprop="datePublished" content="2009-07-22T00:00:00&#43;00:00" />
	<meta itemprop="dateModified" content="2009-07-22T00:00:00&#43;00:00" />
	<meta itemprop="wordCount" content="590">
	<meta itemprop="image" content="https://habd.as/images/8pd8ycjjkiq-maxime-le-conte-des-floris.jpg" />

	<meta itemprop="keywords" content="dom,http,javascript,patterns,user agent," />
	<header>
		<!-- <h1 itemprop="headline name">{{ page.title }}</h1> -->
		<p class="muted">
			<svg aria-hidden="true" class="i-bookmark" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 2 L26 2 26 30 16 20 6 30 Z" /></svg>
			<a rel="bookmark" itemprop="url" href="{{ site.url }}{{ page.url }}index.html">Permalink</a>
			<!-- <svg aria-hidden="true" style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>
			<a href="index.html">3 minute read</a> -->
			<svg aria-hidden="true" style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" /></svg>
			<!-- <time datetime="2009-07-22T00:00:00&#43;00:00"> --><a href="#">{{ page.date | date: "%b %d, %Y" }}</a><!-- </time> -->&nbsp;Published
			<output class="js-copied" hidden>Copied to Clipboard</output>
			<script>
				((window, document, undefined) => {
					'use strict';
					const permalinks = document.querySelectorAll('[rel="bookmark"]');
					permalinks.forEach(permalink => {
						const article = permalink.closest('article');
						permalink.onclick = evt => {
							evt.preventDefault();
							document.location.hash = article.id;
							const output = article.querySelector('output');
							window.navigator.clipboard.writeText(
								permalink.href
							).then(() => {
								setTimeout(() => {
									output.hidden = true;
								}, 2000);
								output.hidden = false;
							}, () => {
								const selection = window.getSelection();
								const range = document.createRange();
								output.textContent = permalink.href;
								permalink.parentElement.appendChild(output);
								range.selectNodeContents(output);
								selection.removeAllRanges();
								selection.addRange(range);
								output.hidden = false;
							});
						};
					});
				})(window, document);
			</script>
			<style>
				article[itemscope] output {
					max-width: 10em;
					overflow: scroll;
					color: var(--link-color--active);
				}
			</style>

		</p>
		<!-- BEGIN PAGE HERO -->
		{% if page.hero.url.size > 0%}
		<figure class="ratio-container" aria-hidden="true" itemscope itemtype="https://schema.org/ImageObject">
			{% assign page_hero = (site.url | append: site.hero.path | append: page.hero.url ) %}
			<link itemprop="contentUrl" href="{{ page_hero }}">
			<meta itemprop="encodingFormat" content="image/{{ post.hero.format }}">
			<meta itemprop="name" content="header">
			<meta itemprop="keywords" content="{{ site.name }}">
			<meta itemprop="contentLocation" content="Shenzhen, China">
			<meta itemprop="description" content="{{ site.description }}">
			<!-- <img itemprop="thumbnailUrl" alt="{{ page.title }}" class="lazyload blur-up" src="{{ page_hero }}g" srcset="{{ page_hero }}" data-srcset="{{ page_hero }}" data-sizes="auto"> -->
			<img itemprop="thumbnailUrl" alt="{{ page.title }}" src="{{ page_hero }}g" srcset="{{ page_hero }}" data-srcset="{{ page_hero }}" data-sizes="auto">
			{% if page.hero.name.size > 0 %}
			<figcaption itemprop="caption"><span itemprop="headline">{{ page.hero.name }}</span>. Photo by <span itemprop="creator">{{ page.hero.author }}</span> on {{ page.hero.site }}.</figcaption>
			{% endif %}
		</figure>
		{% endif %}
		<!-- END PAGE HERO -->
	</header>

	<div itemprop="articleBody">
		<link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
		<!-- BEGIN PAGE CONTENT [POST] -->
    {% include toc.html html=content %}{{ content }}
		<!-- END PAGE CONTENT [POST] -->
		<br />
		<!-- START POST SIGNATURE -->
		<div class="sign" style="height: 128px !important;">
			<img alt="Señorita" src="{{ site.url }}{{ site.path.images }}/sign_s.png" style="float: right !important; width: 256px !important; max-width: 100% !important;">
		</div>
		<!-- END POST SIGNATURE -->
	</div>

	<div class="page_actions"><center>
	<!-- <a onclick="history.back(-1)" class="btn">&lt; Back</a> -->{% if page.next %}<a class="btn" href="{{ site.url }}{{ page.next.url }}index.html">&lt;&nbsp;Newer:&nbsp;{{ page.next.title }}</a>&nbsp;{% endif %}{% if page.previous %}<a class="btn" href="{{ site.url }}{{ page.previous.url }}index.html">Older:&nbsp;{{ page.previous.title }}&nbsp;&gt;</a>{% endif %}
	</center></div>
